{% extends 'base.html'%}
{%load static %}

{% block content %}

<body>
  <div class="site-section border-bottom" data-aos="fade">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-6">
          <div class="block-16">
            <figure>
              <img src=" {% static 'audi_image/baner2.jpg' %}" alt="Image placeholder" class="img-fluid rounded">
              <a href="https://vimeo.com/channels/staffpicks/93951774" class="play-button popup-vimeo"><span
                  class="ion-md-play"></span></a>

            </figure>
          </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">


          <div class="site-section-heading pt-3 mb-4">
            <h2 class="text-black">How We Started</h2>
          </div>
          <p>Audience was born out of a passion for delivering the finest audio experiences to true sound enthusiasts.
            We started with a simple vision—to create a platform where high-quality audio products meet innovation,
            style, and unmatched performance. Whether you’re a casual listener or an audiophile, Audience is dedicated
            to curating the best sound solutions, from premium headphones to high-fidelity speakers. Our journey began
            with the belief that great sound should be accessible to everyone, and today, we continue to push the
            boundaries of what’s possible in the world of audio. With a commitment to quality, authenticity, and
            customer satisfaction, Audience is more than just a store—it’s an experience designed for those who
            appreciate the art of sound.</p>
        </div>
      </div>
    </div>
  </div>

 


   {}
  </div>


</body>
{% endblock content %}